<div class="mdd-login-wrapper">
    <div
    class="mdd-login-wrapper__content-frst-panel"
    >

    </div>
    <div
    class="mdd-login-wrapper__content-snd-panel">
        <div
        class="mdd-login-wrapper__content-snd-panel--img">

        </div>
        <div
        class="mdd-login-wrapper__content-snd-panel__buttons">
            <div
            class="mdd-login-wrapper__content-snd-panel__buttons__container">
                <button
                class="mdd-login-wrapper__content-snd-panel__buttons__container--btn"
                >Login</button>
            </div>
            <div
            class="mdd-login-wrapper__content-snd-panel__buttons__container">
                <button
                class="mdd-login-wrapper__content-snd-panel__buttons__container--btn"
                >Register</button>
            </div>
            <div
            class="mdd-login-wrapper__content-snd-panel__buttons__container">
                <button
                class="mdd-login-wrapper__content-snd-panel__buttons__container--btn"
                (click)="loginWithGoogle()"
                >Login With Google</button>
            </div>
        </div>
    </div>
</div>